@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
body {
    background-color: #000;
    font-family: 'Rubik', sans-serif;
}
.capitalize {
    text-transform: capitalize;
}
@keyframes topbottom {
    0%{
        margin-top: 2.5rem;
    }
    100%{
        margin-top: 0.5rem;
    }
}
.animate {
    animation-name: topbottom;
    animation-duration: 1100ms;
}